$error-color : #FF3B30;
$successful-color : #34C759;
$attention-color : #FF9500;
$information-color : #007AFF;


$primary-darkGray-color : #909090;
$primary-gray-color : #E6EAED;
$primary-darkBlue-color : #001D2C;
$primary-darkBlue-900-color : #00111A;
$primary-lightBlue-color : #0A547A;
$primary-cyan-color : #C2D5E0;


$overlay-color : #0000005C;
$header-color : #001D2C78;

$white-color : #ffffff;
$black-color : #202020;


$inter_font : "Inter", sans-serif;
$manrope_font :"Manrope", sans-serif;