@import '../../../styles/partial/variables.scss';
#banner{
    width: 95%;
    height: 600px;
    margin: 0 auto;
    background-image: url('../../../assets/bannerImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    .overlay{
        border-radius: 40px;
        width: 100%;
        height: 100%;
        background-color: $overlay-color;
    }
}